{% extends 'base.html.twig' %}

{% block title 'Création de pin'%}
{% block body %}
	<h1>création du pin</h1>
	{{form_start(form)}}

	{{form_widget(form)}}
	<input type="submit" class="btn btn-primary btn-block"value="Valider" formnovalidate/>
	{{ form_end(form) }}
{% endblock %}
