{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur
{% endblock %}

{% block body %}


	<!-- Pour chaque lot de 3 créations d'un row -->
	<h1 class="mt-5">Modifier l'utilisateur</h1>

{{form(userForm)}}

{% endblock %}
